data/
runs/
models/
weights/
.venv/
.venv
__pycache__/
*.egg-info/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.iml

# Training artifacts
*.pt
*.onnx
*.tflite
*.engine
*.mlmodel
wandb/
